*{
	padding: 0;
	margin: 0;
}
body{
	padding:0 20px;
	color: #fff;
}
p {
    font-family: "Georgia", "Times New Roman", "Songti SC", "SimSun", serif;
}
a:link { text-decoration: none;color: #3cc}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lucida Grande", "Helvetica Neue", "Arial", "Hiragino Sans GB", "Noto Sans CJK SC", "Heiti SC", "Microsoft YaHei", "WenQuanYi Microhei", sans-serif;
}

p{
	margin: 20px 0;
 	
}
header ,footer{
	height: 55px;
	line-height: 55px;
	background-color: #ddd;
}
.container{
	padding:20px;
	/*border: 1px solid #999;*/
	background-color: #eee;
}
.container:after{
	clear: both;
	content: '';
	display: block;
}
.main ,section{
	float: left;
	background-color: white;
	
}
.main{
	width: 100%;
	min-height: 500px;
	background-color: #eee;
	
}
.team-intro{
	margin-left: 262px;
	margin-right: 142px;
	border: 1px solid #999;
	min-height: 500px;
	width: auto;
	padding: 20px;
	background-color: white;
	background-color: #B0CBC6;
	background-image: url(logo-w.png);
	background-size: 100% 100%;
}
.content{
	position: relative;
	/*margin-top: -200px;*/
	z-index: 99;
}
img{
	background-color: #B0CBC6;
}
.img-color{
	position: absolute;
	background-color: transparent;
	margin-top: -40px;
   	margin-left: 273px;
    	z-index: 0;
}
section{
	padding-bottom: 20px;
	border: 1px solid #999;
	
}
.left-bar{
	width: 200px;
	margin-left: -100%;
	padding: 20px;
	position: relative;
}
.left-bar h1{
	position: absolute;
	right: 5px;
	top:20px;
	font-size: 20px;
	color: #000;
}
.right-bar{
	width: 120px;
	margin-left: -122px;
	text-align: center;
}
.right-bar img{
	margin-top: 20px;
	
}
footer{
	text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
	body{
		padding:0;
	}
	.main{text-align: center;}
	.img-color{
		display: none;
	}
	.team-intro{
		margin-left: 0;
		margin-right: 0;
	}
	.left-bar{
		margin-left: 0;
		width: 90%;
		margin: 20px 0;
	}
	.right-bar{
		margin-left: 0;
		width: 90%;
	}
}
@media screen and (min-width: 480px) and (max-width: 700px) {
	.main{text-align: center;}
	.img-color{
		display: none;
	}
	.team-intro{
		margin-left: 0;
		margin-right: 0;
	}
	.left-bar{
		margin-left: 0;
		width: 80%;
		margin: 20px 0;
	}
	.right-bar{
		margin-left: 0;
		width: 80%;
	}
}